*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body{
    background-image:url(./assets/purple.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 25%;
    
}


nav{
    background: linear-gradient(blue,rgb(0, 1, 1),purple);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    line-height: 75px;
    padding: 0px 100px;

    
}

.font-effect-fire p {
    font-family: "sofia", sans-serif;
    font-weight: 100;
    font-size: 36px;
    cursor: pointer;
    letter-spacing: 5px;
}

.alignitems{
    display: flex ;
    list-style: none;
    font-size: 18px;
    border: 0px solid gray;
    padding-left: 5%;
    padding-right: 5%;
    

}
   
nav a {
    
    text-decoration-line: none;
    
}
a:link {
  color: white;  
}

a:visited {
    color:rgb(238, 229, 229);

}

a:hover {
    color: chartreuse;

}
a:active{
    color: rgb(228, 12, 210);
}
.header p {
    color: yellow;
    font-size: 20px;
    padding-left: 50px;
}

    
ul{
    list-style: none;
    display: flex;
    gap: 80px;
    text-align: center;
    color: aliceblue;
    padding-right: 40%;
    
}
footer{
    color: aliceblue;
    text-align: center;
    padding-top: 35%;
    border: 0px solid yellow;
}
.font{
    font-size: 20px;
    word-spacing: 100px;
    line-height: 75px;
}
.paragraph{
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
}


